config redsocks2_base
	option enabled '1'
	option loglevel 'off'

config redsocks2_redirect
	option local_ip 192.168.20.1
	option local_port 1081
	option ip 192.168.20.1
	option port 1080
	option proxy_type socks5
	option autoproxy 1
	option timeout 2
	option blacklist_enabled '0'
	option black_port 1079

config redsocks2_autoproxy
	option no_quick_check_seconds 300
	option quick_connect_timeout 2

config redsocks2_ipcache
	option cache_file '/tmp/redsocks2_ipcache.txt'
	option stale_time 7200
	option autosave_interval 3600
	option port_check 0

config redsocks2_iptables
	option blacklist_enabled '0'
	option whitelist_enabled '1'
	option ipset_whitelist '/etc/chnroute.txt'
	option dest_port 1081
	option ipset_blacklist '/etc/blackroute.txt'
	option black_port 1079

config redsocks2_tcpdns
	option tcpdns_enabled '0'
	option tcpdns_ip 192.168.20.1
	option tcpdns_port 1053
	option tcpdns1 8.8.4.4
	option tcpdns2 8.8.8.8
	option tcpdns_timeout 3
	option black_port 1079